<!-- <div class="container slider">
<img ng-repeat="event in events.events track by $index" class="slide" ng-hide="!isCurrentEventIndex($index)" ng-src="{{ event.img }}">
</div>

<nav class="nav">
<div class="wrapper">
<ul class="dots">
<li class="dot" ng-repeat="slide in slides">
<a href="#" ng-class="{'active':isCurrentEventIndex($index)}"
ng-click="setCurrentEventIndex($index);">{{event.description}}</a></li>
</ul>
</div>
</nav>
-->

<section class="events-index">
  <ul>
    <li ng-repeat="event in events.events track by $index" >
      <div class="tile animated" ng-swipe-left="events.swipedLeft(event)" ng-swipe-right="events.swipedRight(event)" ng-class="event.animation">
        <div>
          <img class="placeholder" src="{{ event.img }}">
          <div class="info">
            <ul>
              <li ui-sref="eventsShow({ id: event._id })"><img ng-src="{{ event.img }}"/></li>
              <li class="title animated"><div id="eventsIndex"><h4>{{deed.deed }}</h4></div></li>
              <li class="right" ng-click="events.swipedRight(event)">
                <i class="yes" aria-hidden="true"></i></li>
                <li class="right" ng-click="events.swipedLeft(event)"><i class="no" aria-hidden="true"></i></li>
              </ul>
            </div>
            <a ui-sref="eventsShow({ id: event._id })"><h4>{{ event.name }}</h4></a>
          </div>
        </div>
      </li>
    </ul>
  </section>
