<div class="row">
  <div class="col-md-6 col-md-offset-3">
    {{ events.events.length }} Events
    <ul class="list-unstyled">
      <li ng-repeat="event in events.events track by $index" >
        <ul class="list-unstyled">
          <li class="single-event" style="background-image: url('{{ event.img }}');" ui-sref="eventsShow({ id: event._id })">
            <div class="single-event-name">
              <h4>{{ event.name }}</h4>
              <p>by {{ event.host.email }}</p>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
