<div class="dangerZone">
  <h1>* * * * * DANGER ZONE * * * * *</h1>

  <p>Everyone will be sad to see you leave but don't fear, we will always love you if you do. We wish you well and thank you for coming to stay.</p>
  <h6>From all at Club Mate</h6>

<iframe width="560" height="315" src="https://www.youtube.com/embed/2a4gyJsY0mc?autoplay=1" frameborder="0" allowfullscreen></iframe>



<button class="btn btn-default" ng-click="usersShow.delete(usersShow.user)">Delete your account for ever and ever</button>
</div>
