<h1>Inbox</h1>

<div ng-if="usersInbox.noMessages">
  <h1>You have no requests</h1>
</div>

<div ng-if="usersInbox.showMessages">

<h5><b>Active Event <br><br></b><a ui-sref="eventsShow({ id: usersInbox.messages[0].event._id })">{{usersInbox.messages[0].event.name}}</a></h5>
<h5><b></b> {{usersInbox.messages[0].event.address}}</h5>

  <div class="container">
    <div class="row">
      <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
        <ul class="messages">
          <li ng-repeat="messages in usersInbox.messages">
            <time datetime="2014-07-20">
							<span class="day">4</span>
							<span class="month">Jul</span>
							<span class="year">2017</span>
							<span class="time">ALL DAY</span>
						</time>
						<img class="tile" alt="User Picture" src="http://www.konadeepsea.com/info/photos/sunset-on-sea_strike.jpg" />
						<div class="info">
            <h4 class="title"><b>From:</b><a ui-sref="usersShow({ id: messages.sender._id })"> {{messages.sender.firstName}} {{messages.sender.lastName}}</a></h4>
            <h4><b>To: </b><a ui-sref="usersShow({ id: messages.receiver._id })">Me</a></h4>
            <p class="desc"><b>Email:</b> {{messages.sender.email}}</p>
            <p class="address"><b>Message:</b> {{messages.text}}</p>
            <p class="interest"><b>Status:</b> {{messages.status}}</p>
						</div>
            <button ng-if="usersInbox.hideOnAccept(messages.status)" class="btn btn-default" ng-click="usersInbox.accept(messages)">Accept</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
