<h1>Inbox</h1>


<ul>
<h3><b>Active Event:</b> {{usersInbox.user[0].event.name}}</h3>
<h4><b></b> {{usersInbox.user[0].event.address}}</h4>


  <li ng-repeat="user in usersInbox.user">
      <h4><b>From:</b> {{user.sender.firstName}}</h4>
      <h4><b>To:</b> Me</h4>
      <p><b>Email:</b> {{user.sender.email}}</p>
      <p><b>Message:</b> {{user.text}}</p>
      <p><b>Status:</b> {{user.status}}</p>
          <button ng-if="usersInbox.hideOnAccept" class="btn btn-default" ng-click="usersInbox.accept(user)">Accept</button>
  </li>
</ul>
