<h1 class="messageHeader">Inbox</h1>

<div ng-if="usersInbox.noMessages">
  <h1>You have no requests</h1>
</div>

<div class="messages" ng-if="usersInbox.showMessages">

<h5><b>Active Event:</b><a class="active-event" ui-sref="eventsShow({ id: usersInbox.messages[0].event._id })">{{usersInbox.messages[0].event.name}}</a></h5>

<ul>
  <li ng-repeat="messages in usersInbox.messages">
    <img ui-sref="usersShow({ id: messages.sender._id })" class="email-picture" src="{{messages.sender.profile_picture}}">
    <div class="message-content">
    <a class="firstName" ui-sref="usersShow({ id: messages.sender._id })"> {{messages.sender.firstName}} {{messages.sender.lastName}}</a>
    <p class="pending"><b>Status:</b> {{messages.status}}</p>
    <br>
    <a class="eventName" ui-sref="#">{{messages.event.name}}</a>
    <p>{{messages.text}}</p>
    <button ng-if="usersInbox.hideOnAccept(messages.status)" class="btn btn-default emailAccept" ng-click="usersInbox.accept(messages)">Accept</button>
  </div>
  </li>
</ul>
</div>
