<h1 class="messageHeader">Outbox</h1>

<div ng-if="usersOutbox.noMessages">
  <h1>You haven't sent any requests</h1>
</div>

<div class="messages" ng-if="usersOutbox.messages">
<ul>
  <li ng-repeat="messages in usersOutbox.messages">
        <a ui-sref="usersShow({ id: messages.sender._id })"><img class="email-picture" src="{{messages.sender.profile_picture}}"></a>
        <div class="message-content">

    <a class="firstName" ui-sref="usersShow({ id: messages.receiver._id })">{{messages.receiver.firstName}} {{messages.receiver.lastName}}</a>
    <br>
    <a class="eventName" ui-sref="#">{{messages.event.name}}</a>
    <p>{{messages.text}}</p>
  </div>
  </li>
</ul>
</div>
