<ul>
  <li ng-repeat="request in usersShow.requests">{{ request.text }}</li>
</ul>

<div ng-if="!usersShow.user.email">
  <h1>No User Exists</h1>
</div>

<section class="usersShow">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>{{usersShow.user.firstName}} {{usersShow.user.lastName}}</h1>
<img src="{{usersShow.user.profilePicture}}" alt="Profile Picture">
<p>D.O.B. {{usersShow.user.dob}}</p>
      <h4>Bio</h4>
      <p>{{usersShow.user.bio}}</p>
      <button ng-if="usersShow.editDeleteHide" class="btn btn-default" ui-sref="usersEdit({ id: usersShow.user._id })">Edit</button>
      <a ng-if="usersShow.editDeleteHide" ui-sref="usersDeleteCheck">delete</a>
      <ul>
        <li ng-repeat="request in usersShow.requests">{{ request.text }}</li>
      </ul>
    </div>
  </div>
</section>
