section.usersShow {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  background-color: white;
  padding: 10px 10px;
  border: 1px solid rgb(212, 212, 212);
}
.profilePictureImg{
  object-fit: contain;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}
.cogDiv{
  text-align: right;
  position: relative;
  top: 10px;
}
