<section class="home">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Make friends.</h1>
      <img src="/images/iphone.png" class="animated slideInLeft">
      <ul class="list-inline text-center">
        <li><a ui-sref="home" class="btn btn-default">Login</a></li>
        <li><a ui-sref="home" class="btn btn-primary">Register</a></li>
      </ul>
    </div>
  </div>

  <img src="/images/arrow.png" id="arrow" class="pulse">

<div class="row">
  <div class="col-md-4"><div class="circle">1</div>Make an event</div>
  <div class="col-md-4"><div class="circle">2</div>Find friends</div>
  <div class="col-md-4"><div class="circle">3</div>Start an adventure</div>
</div>
</section>
