.btn-primary {
  background: $primary-color;
  border-color: $primary-color;
}

.btn-primary:hover {
  background: $primary-color;
}

.btn-primary:active {
  background: $primary-color;
  text-decoration: none;
}

.btn-primary:active {
  background: $primary-color;
  text-decoration: none;
}
