.event {
  margin: 0 auto;
  width: 600px;
  height: 700px;
  background: #eee;
  border-radius: 2px;

  .event-background {
    width: 100%;
    height: 250px;
    img {
      width: inherit;
      height: inherit;
      border-bottom: 4px solid $primary-color;
    }
  }

  .host-details {
    top: -65px;
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 200px;

    img {
      text-align: center !important;
      width: 125px;
      height: 125px;
      border-radius: 100%;
      border: 4px solid $primary-color
    }
  }
  .event-details {

  margin-top: -80px;

    h2 {
      font-size: 65px;
    }

    p {
      font-size: 20px;
      margin: 15px 0 10px;
    }

    h3 {
      font-size: 45px;
    }


  }
}
