.container {
  width: 100%;
  height: 100%;
  overflow-x:scroll;
  overflow-y:hidden;
  padding: 0 15px;
}
body{
  background-color: rgb(249, 249, 249);
}

.woahThere{
  background-color: white;
  padding: 30px;
  margin-top: 50px;
  border: solid 1px rgb(226, 226, 226);
}

.yes-no-list{
  padding: 0;
  text-align: center;
  @media only screen
  and (max-device-width: 640px),
  only screen and (max-device-width: 667px),
  only screen and (max-width: 480px) {
    display: none;
  }
  .yes-no-buttons {
    display: inline-block;
  }
}

.eventItem {
  width: 100%;
  height: 100%;
  // border:1px solid black;
  padding:0;
  // height:200px;
  text-align: center;
}
.eventImage{
  width: 150px;
  height:150px;

}

.list-inline {
  white-space:nowrap;
}

[ng-click]{
  cursor: pointer;
}

.events-index {
  ul {
    width: 250px;
    height: 250px;
    list-style: none;
    position: relative;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;

    li {

      .tile.animated {
        position: absolute;
        width: inherit;
        height: inherit;
        background: #fff;

        img {
          width: 250px;
          height: 200px;

          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-user-drag: none;
          user-drag: none;
          -webkit-touch-callout: none;
        }
      }
    }
  }
}
