.navbar-brand {
  padding: 0;
  line-height: 50px;
  img {
    height: 30px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -6px;
  }
}

.navbar {
    margin-bottom: 0;
    ul>li>a {
    font-family: 'Dosis', sans-serif;
      .navbar {
    border-bottom: 1px solid $primary-color;
}
    }
}

.navbar-default .navbar-nav > li > a {
  color: #1a181a;
  font-weight: bold;
}

.navbar-default {
    background-color: #f8f8f8;
    border-bottom: 1px solid $primary-color;
}

ul.nav>navbar-nav>navbar-right {

}
