@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");


.messages {
  list-style: none;
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px;
}
.messages > li {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgb(51, 51, 51);
  box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
  padding: 0px;
  margin: 0px 0px 20px;
}
.messages > li > time {
  display: inline-block;
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgba(241,231,103,1);
  background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
  background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}
.messages > li:nth-child(even) > time {
  background-color: rgb(165, 82, 167);
}
.messages > li > time > span {
  display: none;
}
.messages > li > time > .day {
  display: block;
  font-size: 56pt;
  font-weight: 100;
  line-height: 1;
}
.messages > li time > .month {
  display: block;
  font-size: 24pt;
  font-weight: 900;
  line-height: 1;
}
.messages > li > img {
  width: 100%;
}
.messages > li > .info {
  padding-top: 5px;
  text-align: center;
}
.messages > li > .message-content > .title {
  font-size: 17pt;
  font-weight: 700;
  margin: 0px;
}
.messages > li > .message-content > .desc {
  font-size: 13pt;
  font-weight: 300;
  margin: 0px;
}
.messages > li > .info > ul,
.messages > li > .social > ul {
  display: table;
  list-style: none;
  margin: 10px 0px 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
}
.messages > li > .social > ul {
  margin: 0px;
}
.messages > li > .info > ul > li,
.messages > li > .social > ul > li {
  display: table-cell;
  cursor: pointer;
  color: rgb(30, 30, 30);
  font-size: 11pt;
  font-weight: 300;
  padding: 3px 0px;
}
.messages > li > .info > ul > li > a {
  display: block;
  width: 100%;
  color: rgb(30, 30, 30);
  text-decoration: none;
}
.messages > li > .social > ul > li {
  padding: 0px;
}
.messages > li > .social > ul > li > a {
  padding: 3px 0px;
}
.messages > li > .info > ul > li:hover,
.messages > li > .social > ul > li:hover {
  color: rgb(30, 30, 30);
  background-color: rgb(200, 200, 200);
}
.facebook a,
.twitter a,
.google-plus a {
  display: block;
  width: 100%;
  color: rgb(75, 110, 168) !important;
}
.twitter a {
  color: rgb(79, 213, 248) !important;
}
.google-plus a {
  color: rgb(221, 75, 57) !important;
}
.facebook:hover a {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(75, 110, 168) !important;
}
.twitter:hover a {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(79, 213, 248) !important;
}
.google-plus:hover a {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(221, 75, 57) !important;
}

@media (min-width: 768px) {
  .messages > li {
    position: relative;
    display: block;
    width: 100%;
    height: 120px;
    padding: 0px;
  }
  .messages > li > time,
  .messages > li > img  {
    display: inline-block;
  }
  .messages > li > time,
  .messages > li > img {
    width: 120px;
    float: left;
  }
  .messages > li > .info {
    background-color: rgb(245, 245, 245);
    overflow: hidden;
  }
  .messages > li > time,
  .messages > li > img {
    width: 120px;
    height: 120px;
    padding: 0px;
    margin: 0px;
  }
  .messages > li > .info {
    position: relative;
    height: 120px;
    text-align: left;
    padding-right: 15px;
  }
  .messages > li > .info > .title,
  .messages > li > .info > .desc {
    padding: 0px 10px;
    margin-top: 4px;
    font-family: 'OrkneyRegular';
    font-weight: normal;
    font-style: normal;
  }

  .messages > li > .info > .title {
    font-weight: bold;
  }


  .messages > li > .info > .address {
    font-weight: bold;
    padding: 0px 10px;
  }

  .messages > li > .info > .interest {
    font-weight: bold;
    text-align: right;
  }

  .messages > li > .info > ul {
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  .messages > li > .social {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 40px;
  }
  .messages > li > .social > ul {
    border-left: 1px solid rgb(230, 230, 230);
  }
  .messages > li > .social > ul > li {
    display: block;
    padding: 0px;
  }
  .messages > li > .social > ul > li > a {
    display: block;
    width: 40px;
    padding: 10px 0px 9px;
  }
  .titles {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'OrkneyLight'
  }
  .tile {
    margin: -5px;
  }
  .event{
    margin-top: 25px;
  text-align: center;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
          animation: fadein 2s;
  }
}
